assets/3d/kenney_furniture-kit.zip
assets/3d/kenney-furniture-kit/Isometric/
assets/3d/kenney-furniture-kit/Side/
assets/3d/kenney-furniture-kit/Models/DAE format/
assets/3d/kenney-furniture-kit/Models/FBX format/
assets/3d/kenney-furniture-kit/Models/OBJ format/
assets/3d/kenney-furniture-kit/Models/STL format/
